html {
    background: #e0e0e0;
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 16px;
}
body {
    width: 780px;
    margin: 0 auto;
}
div.main {
    margin: 20px 0 0 0;
    padding: 10px;
    min-height: 600px;
    border-radius:25px;
    background: #ffffff;
}
div.header {
    margin: 0;
    padding: 10px;
}
div.header > h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}
table.main {
    width: 100%;
    table-layout: fixed;
}
table.main td {
    padding: 10px 20px;
}
table.main td.left p {
    text-align: center;
}
table.main td.right ol {
    margin-top: 20px;
}
div.explanation,
div.vendors {
    margin: 0 20px;
}
div.vendor {
    float: left;
    position: relative;
    height: 160px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}
div.vendor div.img {
    width: 128px;
    height: 138px;
    display: table-cell;
    vertical-align: middle;
}
div.vendor div.name {
    position: absolute;
    width: 130px;
    bottom: 10px;
    display: block;
    font-size: small;
    text-align: center;
}

div.footer {
    margin-top: 10px;
}
div.footer > p {
    font-size: x-small;
    margin: 0;
    padding: 0;
}
em {
    font-weight: bold;
    font-style: normal;
}
a {
    color: inherit;
}
